@charset "UTF-8";

*{
    font-family: sans-serif;
    background-attachment: fixed;
}
body{
    background-image:linear-gradient(to bottom, #9FC131, #DBF227 ) ;
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #04294094;
}
h1{
    color: #063450;
    text-align: center;
    text-shadow: 1px 1px 2px #04283f7c;
}

h2{
    color: #01524a;

}

p{
    text-align: justify;
}